html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body { font-family: sans-serif; margin: 0px; padding: 0px; background-color: #F1F1F1;}

#main-menu .nav-bar { padding-top: 0px; list-style:none;  background-color: #030303; width: 100%; height:40px; opacity: 75%; margin: 0px; }
#main-menu .nav-bar li { display:inline; padding:0 10px;   }

#main-menu .nav-bar li a {
  
  line-height: 38px;
  text-decoration: none;  
  padding-left: 7px;
  padding-right: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px snow;
    
}

#main-menu .nav-bar li a:hover {
    background-color: snow;
    color: black;
}

.nav-bar .nav-button-img img{ background:url("") no-repeat 0px -2px transparent; vertical-align: middle; }
.nav-bar .nav-button-home a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Services a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-RateCard a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Aboutus a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Contactus a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Login a { background:url("") no-repeat 0px -2px transparent; }

.footer-bottom-area {background: #000;color: #fff}

.footer-bottom-area {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  padding: 1px 1% 40px 2%;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");

.inner-container-t {
  width: 70%;
  background: #ffffffc4;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
  display: flex;
  justify-content: space-around;
  padding-bottom: 0;
  padding: 2% 2%;
}

#main {
  background: url("bricks.jpg");
  height: 93.5vh;
}

.text {
  padding-top: 10%;
}
lt {
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 60px;
  text-align: right;
  letter-spacing: 0.04em;

  color: #e7efef;
}

.space {
  padding-top: 5%;
}

lt1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.04em;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 108px;
}

.box {
  width: 379px;
  height: 286.36px;
  left: 278px;
  top: 685px;
  margin-bottom: 36px;
  margin-top: 36px;
  background: #3a4a58;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 3px 3px 28px rgba(0, 0, 0, 0.589);
  border-radius: 4px;
  align-content: center;
  flex-basis: 379px;
}

.box2 {
  margin-left: 5vw; 
  
}

.text-center {
    text-align: center;
}

.card-bigtext {
  margin-top: 20px;
  background: #3a4a58;
  font-style: normal;
  font-weight: bold;
  font-size: 29.9457px;
  line-height: 39px;
  letter-spacing: 0.04em;
  color: #e7efef;
  text-align: center;
}

.card-text {
  background: #3a4a58;
  margin-top: 20px;
  margin-bottom: 10%;
  font-style: normal;
  font-weight: normal;
  font-size: 15.4px;
  line-height: 21px;
  text-align: left;
  letter-spacing: 0.04em;
  color: rgba(231, 239, 239, 0.7);
  padding: 3%;
}

.btngetstarted {
    text-align: center;
    padding: 4%; 
    background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: none;
    font-size: 16.9706px;
    color: rgb(231, 239, 239);
}

.box a {
    text-decoration: none;
}

.box:hover{
    box-shadow: 0px 0px 35px 0px #2e4d66;
    z-index: 1;
}

.lanimg1{
  margin-left: 8.33%;
}

.btngetstarted:hover {
  background: linear-gradient(103.71deg, #20925d -20.85%, #348d66 122.33%);
}

@media (max-width: 823px) {
  .box2 {
    margin-left: 1vw;
  }
}
@media (max-width: 781px) {
  .box2 {
    margin-left: 0vw;
  }
}
@media (max-width: 767px) {
  .lanimg1 {
    display: none;
  }
}

@media (max-width: 576px) {
  lt {
    font-family: Fira Code;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;

    letter-spacing: 0.04em;

    color: #e7efef;
  }

  lt1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .container2{
    padding-top: 72px;
  }
}
