html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
} 

h1{
    text-align: center;
}

button{
    margin: 15px;
}

body {
    background-image: url(impp11.jpeg);
    font-family: sans-serif; width: 100%; height: 100%;margin: 0px ; padding: 0px; 
}

#alert {
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: green;
  color: white;
  padding: 2%;
  display: none;
  text-align: center;
}

.padding-left{
    padding-left: 14rem;
  }

  #main-menu{
    height: 40px;
    background-color: #B2AFAB;
    font-size: 14px;
    font-weight: 300px;
    font-family: Arial, Helvetica, sans-serif;
  }

#main-menu .nav-bar {  padding-top: 0px; padding-left: 3rem; list-style:none;  background-color: #030303; width: 100%; height:40px; opacity: 75%; margin: 0px; }

#main-menu .nav-bar li { 
  display: inline; 
  padding: 0 10px 0 10px;   
}

#main-menu .nav-bar li a {
  line-height: 38px;
  text-decoration: none;  
  padding-left: 7px;
  padding-right: 5px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px snow;
  padding-top: 0px;
  padding-bottom: 0px;
    
}

#main-menu .nav-bar li a:hover {
    background-color: snow;
    color: black;
}

.nav-bar .nav-button-home a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Services a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-RateCard a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Aboutus a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Contactus a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Login a { background:url("") no-repeat 0px -2px transparent; }

.footer-bottom-area {background: #000;color: #fff}

.footer-bottom-area {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  padding: 0.1px 1% 25px 3%;
}

.footer-bottom-area .container {
  margin: 0;
}

.footer-bottom-area p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}